@charset "UTF-8";

.flex-item{
  background: #00bbdd;
  color: #fff;
  width: 65px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.flex-list{
  display: flex;
  flex-direction: row;
}

.flex-list-reverse{
  display: flex;
  flex-direction: row-reverse;
}

.flex-list-column{
  display: flex;
  flex-direction: column;
}

.flex-list-column-reverse{
  display: flex;
  flex-direction: column-reverse;
}

.flex-list-nowrap{
  display: flex;
  flex-wrap: nowrap;
}

.flex-list-wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex-list-wrap-reverse{
  display: flex;
  flex-wrap: wrap-reverse;
}

.flex-list-start{
  display: flex;
  justify-content: flex-start;
}

.flex-list-end{
  display: flex;
  justify-content: flex-end;
}

.flex-list-center{
  display: flex;
  justify-content: center;
}

.flex-list-between{
  display: flex;
  justify-content: space-between;
}

.flex-list-around{
  display: flex;
  justify-content: space-around;
}

.grid-item{
  padding: 10px;
  background: #00bbdd;
  color: #fff;
}

.grid-columns{
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 200px 200px;
}

.grid-fr{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.grid-rows{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  margin-top: 20px;
}

.grid-content{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  margin-top: 20px;
}

.red-box{
  grid-column: 1 / 3;
  background: #dd0700;
}

.green-box{
  grid-row: 2 / 4;
  background: #0bdd00;
}

.yellow-box{
  grid-column: 2 / 4;
  background: #d9dd00;
}